<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Server_list_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-server_list_id" data-rule="required" data-source="server/list/index" class="form-control selectpage" name="row[server_list_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Server_combine_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-server_combine_id" data-rule="required" data-source="server/combine/index" class="form-control selectpage" name="row[server_combine_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="''">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Level')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-level" data-rule="required" class="form-control" name="row[level]" type="text" value="''">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Url')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-url" data-rule="required" class="form-control" name="row[url]" type="text" value="''">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Equip_point')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-equip_point" data-rule="required" class="form-control" name="row[equip_point]" type="text" value="''">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Practice_point')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-practice_point" data-rule="required" class="form-control" name="row[practice_point]" type="text" value="''">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Advance_point')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-advance_point" data-rule="required" class="form-control" name="row[advance_point]" type="text" value="''">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Profession_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-profession_id" data-rule="required" data-source="profession/index" class="form-control selectpage" name="row[profession_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sex')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sex" data-rule="required" class="form-control" name="row[sex]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price" data-rule="required" class="form-control" step="0.01" name="row[price]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_public')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-is_public" data-rule="required" class="form-control" name="row[is_public]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remaintime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-remaintime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[remaintime]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
